.flexbox {
 display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
/* align-items: ; */



border: 3px dotted red;
margin-bottom: 2em;
width: 70%;
margin-left: 2em;
padding: 2em 0; 
}

.card {
 margin-top: 1em;
}

